
*,
*::after,
*::before{
    margin:0;
    padding: 0;
    box-sizing: inherit;
}



:root {
  /* dark shades of primary color*/

  --clr-primary-5: #bda77b;
  
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

body{
  
  font-weight: 400;

  line-height: 1.7;
  color: #777;
  font-size: 0.65rem;
  box-sizing: border-box;
}


.header{
  height: 95vh;
  background-image:linear-gradient(to right ,#ffffffb0,#bda77b), url('./assets/hero.png');
  background-size: cover;  
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0 , 100% 75%, 0 100%);
}


.header__logo-box{
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.header__logo{
  height: 4.5rem;
}



.header__text-box{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;

}

.heading-primary{
  color: rgb(97, 87, 87);
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
  
}

.heading-primary--main{
  display: block;
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: 1.5rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
 animation-timing-function: ease-out;
 
  /* animation-iteration-count: 3; */

  /* animation-delay: 3s; */
}

.heading-primary--sub{
  display: block;
  font-size: 2rem;
  font-weight: 700px;
  letter-spacing: 1rem;
  animation-name: moveInRight;
  animation-duration: 1s;
}

@keyframes moveInLeft{
  0%{
      opacity: 0;
      transform: translateX(-10rem);

  }
80%{
  transform: translate(1rem);
}
  100%{
      opacity: 1;
      transform: translate(0);
  }
}

@keyframes moveInRight{
  0%{
      opacity: 0;
      transform: translateX(10rem);

  }
80%{
  transform: translate(-1rem);
}
  100%{
      opacity: 1;
      transform: translate(0);
  }
}


@keyframes moveInButton{
  0%{
      opacity: 0;
      transform: translateY(3rem);

  }
  100%{
      opacity: 1;
      transform: translate(0);
  }
}


.btnn:link,btn:visited{
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
 

}

.btnn:hover{
  transform: translateY(-.3rem);
 
}

.btnn:active{
  transform: translateY(-1px);

}

.btn--white{
  background-color: #fff;
  color: #777;
}

.btnn::after{
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn--white::after{
  background-color: #fff;
}

.btnn:hover::after{
  transform:scaleX(1.4) scaleY(1.6);
  opacity: 0;

}


.btn--animated{
  animation: moveInButton .5s ease-out .75s;
  animation-fill-mode: backwards;
}



.section-heading{
  text-align: center;
}

.features-image {
  margin-bottom: 1rem;
  text-align: center;
  width:200px;
  color: #dae1e7;
}
.features-image:hover {
  color: #c3921c;
}  
.features-para {
  color: #c3921c;
}

.features-box {
  padding: 2% 5% 1%;
}

.feature-title {
  font-size: 1.5rem;
}

.countries{
  height: 95vh;
  background-image:linear-gradient(to right ,#ffffffb0,#bda77b), url('./assets/countries.png');
  background-size: cover;  
  background-position: top;
  position: relative;
  clip-path: polygon(0 25%, 100% 0 , 100% 75%, 0 100%); 

}

.country__text-box{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.country-heading{
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;
}

.country-item{
  text-align: justify;
}
.country-item:hover{
 scale: 1.5;
}


.footer {
  background-image:linear-gradient(to right ,#ffffffb0,#bda77b);
  grid-column: full-start / full-end;
  clip-path: polygon(0 25%, 100% 0 , 100% 100%, 0 100%); 
  padding: 6rem; }


  
.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
  grid-gap: 1rem;
  align-items: center; }
  .nav__link:link, .nav__link:visited {
    font-size: 0.9rem;
    color: rgb(36, 33, 33);
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    display: block;
    transition: all .2s; }
  .nav__link:hover, .nav__link:active {
    background-color: rgba(255, 255, 255, 0.05);
    transform: translateY(-3px); }

.copyright {
  font-size: 1.4rem;
  color: rgb(255, 251, 251);
  margin-top: 6rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 70%; }
